@font-face {
	font-family: 'Exo 2.0';
	src: url('./font/Exo20-Thin.woff2') format('woff2'),
	url('./font/Exo20-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

.app {
	min-height: 100vh;
	display: flex;
}

.homePage {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 30px 0;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%), url(./images/Pattern.png);
	background-size: cover;
}
.homePage__container {
	width: 100%;
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 15px;
}
.pageTitle {
	margin: 0 0 20px;
	font-size: 36px;
	line-height: 1;
	color: #fff;
	font-family: 'Exo 2.0';
	text-shadow: 0 1px 0 #000000;
	font-weight: 400;
	text-align: center;
}
.d-none {
	display: none;
}
.d-flex {
	display: flex;
}
